* {
    margin: 0;
    padding: 0;
}

:root {
    --font-primary: 'Poppins';
    --font-secondary: 'Playfair Display';
    --primary-color: #3532bf;
    --secondary-color: #f7a654;
    --light-color: #fff;
    --text-primary-color: #2b2b2b;
    --text-secondary-color: #233c7b;
    --text-light-color: #fff;
    --text-dark-color: #454545;
    --light-bg-color: #d2d7e6;
    --light-scondary-color: #eef0f5;
}

#nav-bar {
    font-family: var(--font-primary);
    width: 100%;
    font-weight: 500;
    font-size: 15px;
}

.logo-nav-sign-in {
    padding: 20px 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 43px;
    width: 150px;
    padding-right: 50px;
}

.nav-items a {
    text-decoration: none;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items li {
    padding-right: 30px;
}

.sign-in a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 13px 20px;
    border-radius: 5px;
}
