* {
    margin: 0;
    padding: 0;
}

:root {
    --font-primary: 'DM Sans';
    --font-secondary: 'DM Serif Display';
    --primary-color: #3532bf;
    --secondary-color: #f7a654;
    --light-color: #fff;
    --text-primary-color: #2b2b2b;
    --text-secondary-color: #233c7b;
    --text-light-color: #fff;
    --text-dark-color: #454545;
    --light-bg-color: #d2d7e6;
    --light-scondary-color: #eef0f5;
    --light-bg-color-2: #fbfcff;
}

#nav-bar {
    font-family: var(--font-primary);
    width: 100%;
    font-weight: 500;
}

.logo-nav-sign-in {
    padding: 15px 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    align-items: center;
}

.logo img {
    height: 43px;
    width: 150px;
    padding-right: 50px;
}

.nav-items a {
    text-decoration: none;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items li {
    padding-right: 30px;
}

.sign-in a {
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--primary-color); 
    padding: 13px 20px;
    border-radius: 5px;
}

.sign-in a:hover {
    background-color: #7a81cd;
}


.hero-container {
    display: flex;
    padding: 85px;
    background: linear-gradient(#3532bf, #7a81cd, #bec2ee);
    height: 62vh;
}
.hero-info {
    max-width: 80%;
}
.hero-info h1 {
    font-family: var(--font-secondary);
    font-size: 45px;
    font-weight: 400;
    color: var(--light-color);
    padding-top: 110px;
    background-image: url(/images/hero-underline.png);
    background-repeat: no-repeat;
    background-position: right 55% bottom 22%;
    background-size: 56%;
    line-height: 70px;
}

.hero-image img{
    width: -100%;
    height: 100%;
}

.register-now {
    padding-top: 60px;
}

.register-now a {
    text-decoration: none;
    padding: 15px 60px;
    background-color: #ebc655;
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 22px;
    font-weight: 600;
    border-radius: 10px;
    border-color: #ebc655;
    box-shadow: 0px 5px 10px 1px rgb(109, 115, 134);
}
.register-now a:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.landing-page-bottom {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 22vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 25px;
    font-family: var(--font-primary);
    font-weight: 500;
    color: #3532bf;
    text-align: center;
}

.landing-page-work-container {
    padding-top: 120px;
    padding-bottom: 120px;
}

.how-it-works-container {
    margin: 0 85px;
}

.how-it-works {
    font-size: 40px;
    font-family: var(--font-secondary);
    font-weight: 300;
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 100px;
}

.work-grid {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
    column-gap: 60px;
    margin-left: auto;
    margin-right: auto;
}

.grid-child-1,
.grid-child-2,
.grid-child-3,
.grid-child-4 {
    background-color: #c8d5fe;
    padding: 40px 40px 0px 5px;
    max-width: 240px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid-child-1 h2,
.grid-child-2 h2,
.grid-child-3 h2,
.grid-child-4 h2{
    color: #3532bf;
    font-size: 25px;
    font-family: var(--font-primary);
    font-weight: 500;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 30px;
}

/*.grid-child-1 img,
.grid-child-2 img,
.grid-child-3 img,
.grid-child-4 img {
    width: 100%;
    height: 60%;
    padding-top: 30px;
}*/

.grid-child-1 img {
    padding-top: 30px;
    width: 85%;
    height: 45%;
}

.grid-child-1 {
    height: 70vh;
    width: 400px;
    background-image: url(/images/1-white.png);
    background-repeat: no-repeat;
    background-position: bottom right 50px;
}

.grid-child-1:hover {
    height: 70vh;
    width: 400px;
    background-image: url(/images/1-blue.png);
    background-repeat: no-repeat;
    background-position: bottom right 50px;
    background-color: var(--light-color);
}

.grid-child-2 {
    margin-top: 30px;
    height: 75vh;
    width: 400px;
    background-image: url(/images/2-white.png);
    background-repeat: no-repeat;
    background-position: bottom right 50px;
}

.grid-child-2:hover {
    height: 75vh;
    width: 400px;
    background-image: url(/images/2-blue.png);
    background-repeat: no-repeat;
    background-position: bottom right 50px;
    background-color: var(--light-color);
}

.grid-child-2 img {
    padding-top: 30px;
    width: 88%;
    height: 45%;
}

.grid-child-3 {
    margin-top: 110px;
    height: 70vh;
    width: 400px;
    background-image: url(/images/3-white-new.png);
    background-repeat: no-repeat;
    background-position: bottom right 50px;
}

.grid-child-3:hover {
    background-color: var(--light-color);
    background-image: url(/images/3-blue-new.png);
    background-repeat: no-repeat;
    background-position: bottom right 50px;
}

.grid-child-3 img {
    padding-top: 30px;
    width: 90%;
    height: 45%;
}

.grid-child-4 {
    margin-top: 140px;
    height: 70vh;
    width: 400px;
    background-image: url(/images/4-white.png);
    background-repeat: no-repeat;
    background-position: bottom right 50px;
}

.grid-child-4:hover {
    background-image: url(/images/4-blue.png);
    background-repeat: no-repeat;
    background-position: bottom right 50px;
}

.grid-child-4 img {
    padding-top: 30px;
    width: 90%;
    height: 45%;
}

.benefits-container {
    padding: 10px 85px 60px 85px;
    background-color: var(--light-bg-color-2);
}

.benefits-content {
    display: grid;
    row-gap: 40px;
}

.benefits-container h2 {
    font-size: 40px;
    font-family: var(--font-secondary);
    font-weight: 300;
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 100px;
}

.benefits-child-1,
.benefits-child-2 {
    max-width: 58%;
    background-color: var(--light-color);
    border-radius: 9px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 20vh;
    width: 800px;
    display: flex;
    align-items: center;
    padding: 25px 30px;
    box-sizing: border-box;
}

.benefits-child-2 {
    margin-left: auto;
    margin-right: 0;
}

.img-child-1 img {
    width: 80px;
}

.img-child-2 img {
    width: 100px;
}

.img-child-3 img {
    width: 90px;
}

.img-child-4 img {
    width: 100px;
}

.p-child-1,
.p-child-2 {
    font-size: 18px;
    font-family: var(--font-primary);
    font-weight: 500;
    padding-left: 30px;
    opacity: .9;
}

.det-4 {
    max-width: 70%;
}

.finance {
    max-width: 90%;
}

.freq-asked-questions-container {
    margin: 60px 85px;
}

.freq-heading {
    font-size: 40px;
    font-family: var(--font-secondary);
    font-weight: 300;
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 90px;
}

.questions-child {
    display: flex;
    background: rgba(200,213,254,48%);
    width: 100%;
    height: 10vh;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.questions-grid {
    display: grid;
    row-gap: 40px;
}

.question h2 {
    font-size: 20px;
    font-family: var(--font-primary);
    color: var(--primary-color);
    font-weight: 500;
}

.arrow-down img {
    width: 15px;
}
